In [1]:
import pandas as pd

FILE = 'datasets/PlasticRiverInputs.csv'
df = pd.read_csv(FILE)

In [2]:
df.columns

Index(['X', 'Y', 'i_mid', 'i_low', 'i_high', 'i_mid_jan', 'i_low_jan',
       'i_high_jan', 'i_mid_feb', 'i_low_feb', 'i_high_feb', 'i_mid_mar',
       'i_low_mar', 'i_high_mar', 'i_mid_apr', 'i_low_apr', 'i_high_apr',
       'i_mid_may', 'i_low_may', 'i_high_may', 'i_mid_jun', 'i_low_jun',
       'i_high_jun', 'i_mid_jul', 'i_low_jul', 'i_high_jul', 'i_mid_aug',
       'i_low_aug', 'i_high_aug', 'i_mid_sep', 'i_low_sep', 'i_high_sep',
       'i_mid_oct', 'i_low_oct', 'i_high_oct', 'i_mid_nov', 'i_low_nov',
       'i_high_nov', 'i_mid_dec', 'i_low_dec', 'i_high_dec', 'runoff_jan',
       'runoff_feb', 'runoff_mar', 'runoff_apr', 'runoff_may', 'runoff_jun',
       'runoff_jul', 'runoff_aug', 'runoff_sep', 'runoff_oct', 'runoff_nov',
       'runoff_dec', 'mpw', 'area'],
      dtype='object')

In [18]:
df.groupby(['area'])['i_mid'].sum().reset_index()

              area         i_mid
0     1.140000e+07      0.000000
1     1.150000e+07      0.000000
2     1.170000e+07      0.000001
3     1.180000e+07      0.000000
4     1.190000e+07      0.000016
...            ...           ...
8895  2.593919e+12   3055.040065
8896  2.916242e+12    303.167866
8897  3.179211e+12      7.535659
8898  3.705035e+12     28.490138
8899  5.912482e+12  38884.184479

[8900 rows x 2 columns]

In [6]:
df.head()

,X,Y,i_mid,i_low,i_high,i_mid_jan,i_low_jan,i_high_jan,i_mid_feb,i_low_feb,...,runoff_may,runoff_jun,runoff_jul,runoff_aug,runoff_sep,runoff_oct,runoff_nov,runoff_dec,mpw,area
0,9.812500,37.329167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21753.3,22500000.0
1,9.387500,37.254167,0.117503,0.046447,0.431570,0.008847,0.003387,0.033584,0.025464,0.010425,...,0.492051,0.275476,0.172272,0.075899,0.067729,0.176044,0.588417,0.466081,506114.0,95100000.0
2,9.804167,37.237500,0.004653,0.001518,0.021067,0.000364,0.000116,0.001692,0.000750,0.000250,...,0.518217,0.321421,0.236187,0.135462,0.101813,0.223936,0.821796,0.500808,56294.6,33500000.0
3,9.229167,37.220833,0.163098,0.065719,0.586740,0.019418,0.007780,0.070142,0.041209,0.017347,...,0.689654,0.422857,0.275328,0.182635,0.184765,0.335541,1.101117,0.927117,349409.0,99200000.0
4,9.254167,37.220833,0.038200,0.014144,0.150693,0.003528,0.001281,0.014193,0.008848,0.003407,...,0.545944,0.315671,0.200378,0.105010,0.099647,0.219543,0.728243,0.591818,199000.0,39700000.0